body {
  font-family: 'Noticia Text', serif;
}

.App {
  text-align: center;
  background-color: #282c34;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.formContainer {
  display:flex;
  flex-direction: column;
  text-align: left;
  font-size: 1rem;
}

.filter > .displayPublisher {
  text-align: center;
  margin-top: 10px;
}

.filter {
  margin: 10px 0 20px 0;
}

.filter > div > label {
  width: 37px;
}

.searchBox {
  font-size: 1rem;
  text-align: center;
  width: 260px;
  margin: 10px 0;
  padding: 0 10px;
  height: 30px;
  border-radius: 2px;
  border: none;
  outline: none;
}

.keywordBox {
  margin: 0 auto;
}

.keywordBox > * {
  display: block;
}

.submitButton {
  font-size: 1rem;
  margin: 0 auto;
  border-radius: 2px;
  width: 280px;
  border: none;
  outline: none;
  background-color: white;
}

.submitButton:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.filter > .displayPublisher:hover {
  color: skyblue;
  cursor: pointer;
}

.inputField {
  z-index: 1;
}

.dateInput {
  width: 130px;
  border-radius: 2px;
  border: none;
  padding: 2px 4px;
}

.dateBox {
  display: inline-block;
}

.dateBox:first-of-type {
  margin-right: 5px;
}

.scrollUp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 4rem;
}

.scrollUp:hover {
  cursor: pointer;
}

.btnLogin {
  border: none;
  outline: none;
  width: 160px;
  height: 30px;
  font-size: 1rem;
  background-color: white;
  border-radius: 2px;
}

.btnLogin:hover {
  cursor: pointer;
  background-color: #999;
}

.optionBtn {
  margin: 0 auto;
  width: 200px;
  font-size: 1.5rem;
}

.optionBtn > button {
  border: none;
  outline: none;
  border-radius: 2px;
  width: 100%;
  font-size: 0.9rem;
  height: 30px;
  background-color: white;
}

.optionBtn > button:hover {
  background-color: #999;
}
