body {
  font-family: 'Noto Sans', sans-serif;
}

.App {
  text-align: center;
  background-color: #282c34;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  min-height: 100vh;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.formContainer {
  display:flex;
  flex-direction: column;
  text-align: left;
  font-size: 1rem;
}

.filter > .displayPublisher {
  text-align: center;
  margin-top: 10px;
}

.filter {
  margin: 10px 0 20px 0;
}

.filter > div > label {
  width: 37px;
}

.searchBox {
  font-size: 1rem;
  text-align: center;
  width: 260px;
  margin: 10px 0;
  padding: 0 10px;
  height: 30px;
  border-radius: 2px;
  border: none;
  outline: none;
}

.keywordBox {
  margin: 0 auto;
}

.keywordBox > * {
  display: block;
}

.submitButton {
  font-size: 1rem;
  margin: 0 auto;
  border-radius: 2px;
  width: 280px;
  border: none;
  outline: none;
  background-color: white;
}

.submitButton:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.filter > .displayPublisher:hover {
  color: skyblue;
  cursor: pointer;
}

.inputField {
  z-index: 1;
}

.pubContainer {
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translate(-50%);
  top: 3%;
  width: 93%;
  text-align: left;
  font-size: 1rem;
  background-color: #282c34;
  z-index: 1;
}

.pubContainer > legend {
  font-size: 1.3rem;
}

.pubContainer > .displayPublisher {
  position: absolute;
  top: 20px;
  right: 14px;
  font-size: 1.5rem;
  width: 30px;
  z-index: 1;
}

.pubContainer > .displayPublisher:hover {
  cursor: pointer;
}

.pubBox {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 600px;
}

.pubBox > label {
  height: 26px;
}

.checkBox {
  position: relative;
  width: 235px;
  /* padding-bottom: 5px; */
}

.pubBox > .checkBox > input {
  width: 18px;
  height: 18px;
  position: relative;
  top: 4px;
}

.list {
  margin: 20px auto 0 auto;
  width: 800px;
}

.cardContainer {
  text-align: center;
}

.card {
  text-align: left;
  display: inline-block;
  padding: 12px;
  margin: 20px 10px;
  width: 400px;
  height: 320px;
  vertical-align: top;
  background-color: rgba(255, 255, 255, 0.3);
}

.card > .titleName {
  font-weight: bold;
}

.card > .author {
  position: relative;
  right: 0;
  text-align: right;
}

.card > .cardImg {
  margin-bottom: 10px;
}

.card > .cardImg > img {
  width: 100%;
}

.dateInput {
  width: 130px;
}

.dateBox {
  display: inline-block;
}

.dateBox:first-of-type {
  margin-right: 5px;
}

.modalContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #282c34;
}